.DS_Store
.cache/
.RData
# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
#html stuff
*.js
*.html
*.gif
*.jpg
*.png
*.css
*.csv
*.pdf
*.lnk
*.zip
*logo*
HW/
hw[0-9]/
RepData_PeerAssessment[0-9]
.Rproj.user
.httr-oauth
